Dockerfile
.git
.DS_Store
wptagent/gnirehtet/*
wptagent/internal/support/android/*
wptagent/internal/support/dummynet/*
wptagent/internal/support/edge/*
wptagent/internal/support/IE/*
wptagent/internal/support/ios/*
wptagent/internal/support/osx/*
wptagent/internal/support/windows/*
wptagent/internal/support/winshaper/*
wptagent/misc/adb/*
wptagent/simple-rt/*
wptagent/vpn-reverse-tether/*